<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
    <script>

        $(function(){

        $('#search').keyup(function() {

            $.ajax({
                type: "POST",
                url: "/",
                data: {
                    'search_text' : $('#search').val(),
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                },
                success: searchSuccess,
                dataType: 'html'
            });

        });

    });

    function searchSuccess(data, textStatus, jqXHR)
    {
        $('#search-results').html(data);
    }

    </script>

</head>
<body>


<br/>
<br/>
<br/>


<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>
    search_text
</ul>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" autocomplete="off" name="search"/>

<ul id="search-results">

    {% if articles.count > 0 %}

    {% for article in articles %}

    <li><a href="">{{ article.object.title }}</a></li>
    {{ article.object.body }}

    {% endfor %}

    {% else %}

    <p>None to show!</p>

    {% endif %}


</ul>


</body>
</html>