<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<H4>Requirements</H4>
<ui>
    <li>Download and Install Java: <a href="https://www.java.com/en/download/" target="_blank">https://www.java.com/en/download/</a> </li>
    <li>Download Elastic Search: <a href="https://www.elastic.co/downloads/elasticsearch" target="_blank">https://www.elastic.co/downloads/elasticsearch</a> </li>
    <li>After Download Unzip folder, go to 'bin' folder and double click on 'elasticsearch.bat' </li>
    <li>Server will be started at here: <a href="http://localhost:9200/" target="_blank">http://localhost:9200/</a> </li>
    <li>Install the package: <a href="http://localhost:9200/" target="_blank">https://github.com/sabricot/django-elasticsearch-dsl</a> </li>
    <li>pip install django-elasticsearch-dsl</li>
</ui>

<br />
<br />
<br />

<form action="" method="post">
     {% csrf_token %}
    <input type="text" name="searchinput" placeholder="search here">
</form>

<br /> <br />
<p>Output: </p>

{% for p in posts %}
    {{p.title}}
    {{p.author}}
{% endfor %}


</body>
</html>